<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="tw-3.2.6.js"></script>
  <style>
    .help {
      float: right;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <script type="module" src="index.js"></script>

  <div v-scope="IpTableCmp()" class="relative overflow-x-auto"></div>
  <div id="err"></div>
  <template id="ip-table">
    <input type="hidden" id="searchStr" @input="searchStrChange">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ip-table" v-for="item in list"
      :key="item.ip">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            {{item.ip}}
          </th>
          <th scope="col" class="px-6 py-3">
            {{item.country}}
            <a href="#" class="help" @click="openHelp">
              <svg class="h-5 w-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>

        <tr class="bg-white dark:bg-gray-800" v-for="v,k in item" :key="k">
          <th scope="row" class="px-6 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white leading-3">
            {{k}}
          </th>
          <td class="px-6 py-4 leading-3">
            {{v}}
          </td>
        </tr>

      </tbody>
    </table>
  </template>

</body>

</html>